.apply{
    width:88%;
    margin:auto;
    margin-top: 3rem;
}
.apply-row{
    margin: 0 !important;
    /* border:2px solid black !important; */
}
.apply-p1{
    color: #4b4b4b;
    font-size: 2rem;
}
.apply-btn{
    border-color: #4b4b4b !important;
    border-width:2px !important;
    color: #666 !important;
    
}
.apply-btn:hover{
    border-color:#4b4b4b !important;
    background-color: #4b4b4b !important;
    border-width:2px !important;
    color: #ffffff !important;
}
.apply-row-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-control:focus {
    border-width: 2px;
    border-color: #4b4b4b !important; /* Change to any color */
    box-shadow: 0 0 1px #4b4b44 !important; 
  }
.apply-p2{
    color: #2c52a0 !important;
    font-size: 1.5rem;
}
.apply-p3{
    color: #2c52a0 !important;
    font-size: 1.2rem;
}
.apply-p5{
    font-weight: bolder;
    font-size: 1.2rem;
}
.apply-cnt {
    margin: 2rem 0;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a3c8;
    border-radius: 5px;
    opacity: 1;
  }
  .a-div1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1.5px dashed #ffffff;
    justify-content: space-between;
  }
  .a-div2 {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1.5px dashed #ffffff;
    justify-content: space-between;
  }
  .a-div3 {
    margin-bottom: 1rem;
    justify-content: space-between;
  }
  .apply-cnt-div {
    height: 90%;
    /* border:2px solid rgb(255, 252, 252); */
    width: 80%;
    
  }
  @media only screen and (min-width: 320px) and (max-width: 600px) {
    .apply-btn{
     width:60% !important;
    }
  }