.breadcrumb {
  max-width: 100%;
  height: 150px;
  background-image: url(/assets/images/breadcrumb.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-div {
  width: 1110px;
  height: 60%;
}
.b-div1 {
  align-items: center;
  font-size: 14.7px;
  margin-top: 7px;
  color: #666 !important;
}
.b-div1 i {
  margin: 0 8px;
  font-size: 8px;
}
.b-div1 a {
  text-decoration: none;
  color: #302e2e !important;
}
.b-div1 a:hover {
  color: #17a2b8 !important;
}
.b-p2 {
  margin-top: 5px;
  font-size: 1.7rem;
  font-weight: bolder;
  color: #2c52a0;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .breadcrumb {
    height: 130px;
    text-align: center;
  }
  .b-div1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* border:2px solid red; */
    width: auto;
  }
}
