.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(209, 213, 219, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: 3s ease-in-out;
}
.overlay-div {
  position: relative;
  width: 42%;
  height: 550px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-image {
  height: 90%;
  width: 63%;
}
.close-button {
  position: absolute;
  top: -10px;
  right: -15px;
  padding: 10px 20px;
  background-color: rgb(157, 5, 5);
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  font-size: 16px;
}

.close-button:hover {
  background-color: rgb(157, 5, 5);
  color: rgb(0, 0, 0);
}
.home{
  transition: opacity 2s ,transform 2s ease-in-out;
}
.home-bg {
  background-image: url(/assets/images/homepage/2.jpg);
  max-width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 40rem;
  align-items: center;
  margin-bottom: 15rem;
}
.home-1 {
  width: 100%;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.home-1.show {
  opacity: 1;
  transform: translateY(0);
}
.home-row {
  width: 88% !important;
  margin: auto !important;
}
.home-row .col1 {
  height: 19rem;
  box-sizing: border-box;
  background-color: #36a8eb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 0 0 7px;
}
.home-row .col2 {
  height: 19rem;
  box-sizing: border-box;
  background-color: #088edd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-row .col3 {
  height: 19rem;
  box-sizing: border-box;
  background-color: #1977cc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-row .col4 {
  height: 19rem;
  box-sizing: border-box;
  background-color: #1063af;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 7px 7px 0;
}
.home-1-1 {
  margin-left: 4.6rem;
  width: 45%;
}
.home-1-2 {
  width: 50%;
}
.hpp1 {
  color: #ffffff !important;
  font-size: 14px;
}
.hp1 {
  margin-top: 5rem;
  color: #2c52a0 !important;
  font-size: 0.85rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.hp2 {
  color: #2c52a0 !important;
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 25px;
}
.hp3 {
  font-size: 1rem;
  color: #636262;
}
.hbtn {
  background-color: #2c52a0 !important;
  border-color: #2c52a0;
  color: #ffffff !important;
  font-size: 0.915rem !important;
  line-height: 1;
  font-weight: 400 !important;
  letter-spacing: 0.25px !important;
  padding: 12px 24px !important;
  margin-top: 20px !important;
  transition: 2s ease-in-out;
}
.hbtn:hover {
  color: #ffffff;
  background-color: #0ab3c3 !important;
}
.home-1-pic {
  width: 100%;
  height: 650px;
}
.hcard {
  /* font-size: 13px; */
  height: 80%;
  width: 80%;
  color: #ffffff !important;
}
.hcard i {
  color: #ffffff;
}
.hcard-1 {
  margin-top: 2rem;
  border-bottom: 1px dashed #ffffff;
  padding-bottom: 10px;
  margin-bottom: 8px;
}
.fh {
  color: #ffffff !important;
  width: 35%;
}
.fs {
  color: #ffffff !important;
  width: 15%;
}
.ft {
  color: #ffffff !important;
  width: 50%;
  text-align: end;
}

.card-btn {
  border-color: #ffffff !important;
  border-width: 2px !important;
  font-size: 12px !important;
  position: absolute !important;
  bottom: 1.5rem !important;
}
.card-btn:hover {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.section-1 {
  margin: auto;
  width: 89%;
  color: #636262;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.section-1.show {
  opacity: 1;
  transform: translateY(0);
}

.section-1-2p {
  color: #2c52a0 !important;
  font-size: 2.8rem;
  font-weight: bold;
  margin: 0.8rem 0;
}
.section-1-1p {
  font-size: 0.9rem;
  margin-top: 1.6rem;
  font-weight: bolder;
}
.section-1-btn {
  border-color: #2c52a0 !important;
  border-width: 2px !important;
  /* box-shadow: 0 0 3px 1px #5a80fd; */
  transition: 0.5s ease-in-out;
}
.section-1-btn:hover {
  background-color: #17a2b8 !important;
  color: white !important;
  border-color: #17a2b8 !important;
  /* box-shadow: 0 0 3px 1px #5a80fd; */
}
.section-1-2div {
  width: 100%;
}
.section-1-1div {
  width: 50%;
}
.slider-container {
  /* border:2px solid red; */
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fb;
  height: 620px;
}
.slide-p1 {
  padding: 3rem 0;
  font-size: 3rem;
  color: #2c52a0;
  font-weight: bolder;
}
.swiper {
  height: 450px;
  width: 88%;
}
.slider-p1 {
  margin-bottom: 4rem;
  color: #2c52a0;
  font-size: 3rem;
  font-weight: bolder;
}
.slider-card {
  height: 24rem !important;
  background: #ffffff !important;
  border-radius: 10px !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important;
  padding: 5px !important;
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slider-card:hover {
  cursor: grab;
}
.slider-card-img {
  width: 35%;
  height: 100px;
}
.slider-card-h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #2c52a0;
  margin: 1rem 0;
}

.slider-card-p {
  margin-top: 1rem;
  font-size: 16px;
  color: #666;
}
.slider-div {
  height: 90%;
  /* border:2px solid black */
}
.swiper-pagination {
  text-align: center;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ccc;
  opacity: 0.6;
  margin: 0 5px;
  transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background: #2c52a0; /* Active dot color */
  opacity: 1;
}

.section-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
  height: 500px;
  box-sizing: border-box;
}

.sec-2sl-img {
  height: 4rem !important;
}
.section-2 {
  width: 100%;
}
.sec-2-p1 {
  color: #2c52a0;
  font-size: 2.7rem !important;
  font-weight: bolder;
  margin-bottom: 3rem;
}
.sec-3-content {
  margin-top: 3rem;
  width: 90%;
}
.sec-3-img {
  width: 100%;
}
.sec-3-p1 {
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 1rem;
  font-weight: bolder;
}
.sec-3-p2 {
  color: #2c52a0;
  font-size: 2.7rem;
  font-weight: bolder;
}
.sec-3-p3 {
  font-weight: 300;
}
.sec-3-2row {
  margin-top: 3rem;
}
.sec-3-2col div {
  margin: 2px 0;
}
.section-3 {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 6rem 0;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2.5s ease-in-out, transform 2s ease-in-out;
}
.section-3.show {
  opacity: 1;
  transform: translateY(0);
}

.section-4 {
  width: 100%;
}
.sec-4-row {
  display: flex;
  flex-wrap: wrap;
  height: 650px;
  width: 100%;
}
.sec-4-img {
  width: 100%;
  height: 650px;
}
.sec-4-col1 {
  background-image: url(/assets/images/homepage/sec-4-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 48%;
}
.sec-4-col2 {
  width: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px soild black !important;
  background-color: #2c52a0;
}
.sec-4-col2-div {
  width: 80%;
  height: 70%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.sec-4-col2-div.show {
  opacity: 1;
  transform: translateY(0);
}

.sec-4-btn {
  border-width: 2px !important;
  border-color: white !important;
  position: absolute;
  bottom: 0;
}
.sec-4-btn:hover {
  border-color: #0ab3c3 !important;
  background-color: #0ab3c3 !important;
}
.sec-4-1 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 7px 0;
  color: #fff !important;
}
.sec-4-2 {
  color: #fff !important;
  font-weight: bolder;
  margin: 20px 0;
  font-size: 2.3rem;
}
.sec-4-5 {
  color: #fff !important;
  font-weight: bolder;
}

.section-5-content {
  width: 90%;
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sec-4-col3 {
  display: none;
}
.sec-5-2 {
  height: 95%;
  width: 48%;
  /* border:2px solid rgb(231, 37, 37) !important; */
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2.5s ease-in-out, transform 2s ease-in-out;
}
.sec-5-2.show {
  opacity: 1;
  transform: translateY(0);
}
.sec-5-3 {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 95%;
  width: 48%;
  /* border:2px solid rgb(231, 37, 37) !important */
}
.sec-5-3-div {
  width: 96%;
}

.video-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.video-thumbnail {
  position: relative;
  cursor: pointer;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
}

.play-btn {
  position: absolute;
  top: 67%;
  left: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  background-color: #0ab3c3;
  color: white;
  width: 6rem;
  padding: 20px 30px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

.play-btn:hover {
  transform: translate(-50%, -50%) scale(0.9);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.8); /* Glowing effect */
}

.fullscreen-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 669999;
}

.fullscreen-video video,
.fullscreen-video iframe {
  width: 90%;
  height: 90%;
  /* border:1px solid red; */
  z-index: 1; /* Ensure video is above the overlay */
}

/* Close Button */
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.close-btn:hover {
  background: rgba(255, 0, 0, 0.8);
  transform: scale(1.1);
}
.sec-5-p1 {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bolder;
  margin-top: 2rem;
  color: #999;
}
.sec-5-p2 {
  font-size: 2.5rem;
  font-weight: bolder;
  margin-top: 2rem;
  color: #2c52a0;
}
.sec-5-ul {
  list-style: circle;
  color: #3d3a3a;
}
.sec-5-ul li {
  font-size: medium;
}

.section-6 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}

.list-row {
  margin: auto !important;
  width: 70%;
}
.lists-img {
  height: 3rem;
  /* border:2px solid black; */
}
.lists-btn {
  margin: auto !important;
  background-color: #fbfdfd !important;
  width: 95%;
  height: 5rem;
  color: #666;
  display: flex !important;
  justify-content: start !important;
  align-items: center !important;
}
.lists-btn.selected {
  border-width: 2px !important;
  border-color: #2c52a0 !important;
  border-radius: 5px !important;
  pointer-events: none !important;
}
.lists-btn:hover {
  background-color: #d2d2d2 !important;
  color: #f1eeee !important;
}
.show-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-content {
  width: 87%;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-content-1 {
  width: 49%;
  /* border: 2px solid red; */
}
.card-content-2 {
  width: 46%;
  /* border: 2px solid red; */
}
.img-list-pic {
  width: 100%;
}
.card-cnt-1 {
  font-size: 2.6rem;
  font-weight: bolder;
  margin-top: 4.5rem;
  margin-bottom: 1.8rem;
  color: #2c52a0;
}
.card-cnt-2 {
  font-weight: 100px;
  margin-bottom: 2rem;
}
.card-cnt-ul {
  display: flex;
  justify-content: space-between;
}
.card-cnt-li {
  width: 100%;
}
.card-cnt-li div {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 9px;
}
.card-cnt-li div i {
  font-size: 8px;
}
.card-cnt-btn {
  margin-top: 2rem;
  background-color: #2c52a0 !important;
}
.card-cnt-btn:hover {
  background-color: #0ab3c3 !important;
}
.section-7 {
  background-image: url("/assets/images/homepage/banner-7.jpg");
  height: 500px;
  /* border: 2px solid red; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec-7-div {
  height: 60%;
  width: 87%;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2.5s ease-in-out, transform 2s ease-in-out;
}
.sec-7-div.show {
  opacity: 1;
  transform: translateY(0);
}

.sec7-p1 {
  color: #333 !important;
  font-weight: bolder;
  font-size: 2rem;
  margin-top: 1.8rem;
}
.sec7-p2 {
  width: 40%;
}
.sec7-btn {
  border-color: #2c52a0 !important;
  margin-top: 1.5rem;
  background-color: #2c52a0 !important;
}
.sec7-btn:hover {
  border-color: #17a2b8 !important;
  background-color: #17a2b8 !important;
}
.section-8 {
  height: 700px;
  margin: 3rem 0;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec8-div {
  height: 80%;
  width: 91%;
  /* border: 2px solid red; */
  box-sizing: border-box;
}
.sec8-p {
  font-weight: bolder;
  font-size: 2.5rem;
  color: #2c52a0 !important;
}

.sec8-row {
  /* border: 2px solid black !important; */
  width: 100% !important;
  margin-left: 0 !important;
  margin-top: 3rem;
}
.sec-8-col {
  height: 30rem !important;
  /* border: 2px solid rgb(218, 9, 9) !important; */
}
.sec8-img {
  width: 100%;
  height: 205px;
  margin-bottom: 1.3rem;
}
.sec-8-p1 {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c52a0 !important;
}
.sec-8-p1:hover {
  color: #666666 !important;
  text-decoration: underline;
}
.sec8-p3 {
  font-size: 15px;
  color: #666;
}
.sec8-btn {
  position: absolute;
  bottom: 2%;
  padding: 8px 25px !important;
  font-size: 14px !important;
  border-width: 2px !important;
  border-color: #2c52a0 !important;
  color: #2c52a0 !important;
}
.sec8-btn:hover {
  border-color: #0ab3c3 !important;
  background-color: #0ab3c3 !important;
  color: #ffffff !important;
}
.sec8cnt-div {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.sec8cnt-div.show {
  opacity: 1;
  transform: translateY(0);
}
.form {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
  .overlay-div {
    position: relative;
    height: 60%;
    width:90%;
    /* border: 2px solid black; */
  }
  .overlay-image {
    width: 80%;
  }
  .home-bg {
    max-width: 100%;
    height: 45rem;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
  }
  .home-1 {
    opacity: 1;
    transform: none;
    height: 630px;
    display: block !important;
  }
  .home-1-1 {
    margin: 0;
    text-align: center;
    width: 90%;
    margin: auto;
  }
  .home-1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hcard {
    height: 95%;
    width: 95%;
  }
  .hp1 {
    padding-top: 3rem;
    margin: 0;
  }
  .hp2 {
    margin: 0;
    font-size: 2rem;
  }
  .home-1-pic {
    width: 90%;
    height: auto;
  }
  .home-row {
    width: 99%;
    margin: auto !important;
    color: #ffffff !important;
  }
  .home-first {
    height: 100rem;
  }

  .home-row .col1 {
    border-radius: 10px;
    margin-bottom: 1rem;
    height: auto;
  }
  .home-row .col2 {
    border-radius: 10px;
    margin-bottom: 1rem;
    height: auto;
  }
  .home-row .col3 {
    border-radius: 10px;
    margin-bottom: 1rem;
    height: auto;
  }
  .home-row .col4 {
    border-radius: 10px;
    margin-bottom: 1rem;
    height: auto;
  }
  .hpp1 {
    font-size: 1rem;
    font-weight: 300;
  }
  .card-btn {
    position: relative !important;
    margin-bottom: 2px;
    font-weight: bolder !important;
    font-size: 1rem !important;
    padding: 10px 15px !important;
  }

  .fh {
    font-size: 1rem !important;
  }
  .fs {
    font-size: 1rem !important;
    font-weight: bolder !important;
  }
  .ft {
    font-size: 1.2rem !important;
    font-weight: bolder !important;
  }
  .hcard .h5 {
    font-size: 1.7rem !important;
    font-weight: bold !important;
  }
  .hcard-1 {
    border-bottom: 1px dashed #ffffff;
    padding: 15px 0;
    margin: 0;
  }
  .hcard-2 {
    padding: 15px 0;
  }
  .section-1 {
    opacity: 1;
    transform: none;
    width: 88%;
    height: auto;
    display: block !important;
    flex-wrap: wrap !important;
    margin-bottom: 3rem;
  }
  .section-1-1div {
    width: 100% !important;
    height: auto;
  }
  .section-1-1div img {
    width: 100%;
    height: 100%;
  }
  .section-1-2div {
    margin: 0;
    padding: 0;
    width: 100% !important;
  }
  .section-1-1p {
    margin: 0;
    padding: 0;
  }
  .section-1-2p {
    font-size: 2rem;
  }
  .slide-p1 {
    font-size: 2rem;
    margin: 0;
    padding: 1.5rem;
  }
  .swiper {
    height: 500px;
    width: 88%;
  }
  .slider-card {
    height: 26rem !important;
    width: 98% !important;
    margin: auto;
  }
  .slider-container {
    height: auto;
  }
  .slider-card-img {
    height: 10rem;
    width: 30%;
  }
  .slider-card-p {
    font-size: 1rem;
  }
  .slider-card-h3 {
    font-size: 1.5rem;
  }
  .swiper-pagination-bullet {
    height: 8px;
    width: 8px;
  }
  .section-3 {
    margin: 0;
    opacity: 1;
    transform: none;
  }
  .sec-3-content {
    margin-top: 1rem !important;
  }
  .sec-3-p1 {
    margin: 0;
    padding: 0;
  }
  .sec-3-p2 {
    font-size: 1.5rem !important;
  }
  .sec-3-2col {
    font-weight: 300;
  }
  .sec-3-2col i {
    font-size: 9px;
  }
  .sec-3-2col div {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .sec-3-img {
    margin-top: 3rem;
    width: 100%;
    height: 390px;
  }
  .sec-4-img {
    width: 100%;
  }
  .sec-4-col1 {
    display: none;
  }
  .sec-4-col2 {
    height: 34rem;
    width: 100%;
  }
  .sec-4-btn {
    border-width: 2px !important;
    border-color: white !important;
    position: relative;
    bottom: 0;
  }
  .sec-4-row {
    height: auto;
  }
  .sec-4-col3 {
    display: block;
    height: 350px;
    background-image: url(/assets/images/homepage/sec-4-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
  }
  .sec-4-col2-div {
    width: 90%;
    height: auto;
    opacity: 1;
    transform: none;
  }
  .section-4 {
    height: auto;
  }
  .sec-4-2 {
    font-size: 1.5rem;
  }
  .sec-5-2 {
    height: auto;
    opacity: 1;
    transform: none;
  }
  .section-5 {
    height: auto;
    margin: 0;
  }
  .section-5-content {
    height: auto;
    width: 90%;
  }
  .sec-5-2 {
    height: auto;
    margin-bottom: 2rem;
    width: 100%;
  }
  .sec-5-3 {
    width: 100%;
    height:auto;
  }
  .sec-5-p2 {
    font-size: 1.5rem !important;
    margin: 0;
    padding: 0;
  }
  .sec-5-3-div {
    height: auto;
    width: 100%;
  }
  .sec-5-p1 {
    font-size: 1rem;
    font-weight: bolder;
  }
  .sec-5-ul {
    margin: 0;
    font-size: 1rem;
  }
  .sec-5-ul li {
    margin: 0;
    font-size: 1rem;
  }
  .list-row {
    width: 100%;
  }
  .lists-btn.selected {
    background-color: #fff !important;
  }
  .card-content {
    width: 92%;
  }
  .card-content-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .card-content-2 {
    width: 100%;
  }
  .card-cnt-ul {
    padding: 10px 0 5px 0;
    display: block;
  }
  .card-cnt-1,
  .card-cnt-2 {

    margin: 0;
    padding: 10px 0;
  }
  .card-cnt-1{
    font-size: 1.8rem;
    text-align: center;
  }
  .img-list-pic {
    height: 18rem;
    width: 75%;
    margin: auto !important;
  }
  .section-6 {
    margin-bottom: 2rem;
  }
  .section-7 {
    height:auto;
    background-position: left center;
    background-size: cover;
  }
  .sec-7-div {
    margin: auto;
    padding: 1.5rem 0;
    opacity: 1;
    transform: none;
    text-align: center;
    width: 89%;
  }
  .sec7-p2 {
    width: 100%;
    color: #666 !important;
  }
  .sec7-p1 {
    margin: 0;
    font-size: 1.8rem;
  }

  .section-8 {
    margin: 0;
    height: auto;
  }
  .sec8cnt-div {
    opacity: 1;
    transform: none;
  }
  .sec8-div {
    height: 95%;
    width: 95%;
  }
  .sec8-p {
    margin: 0;
    font-size: 1.5rem;
    padding: 5px 0;
  }
  .sec-8-col {
    height: 30rem;
  }
  .sec8-img {
    height: 16rem;
  }
  .sec8-row {
    margin: auto;
  }
  .play-btn {
    top: 60%;
    left: 20%;
  }
}
