.tl-sec1 {
  background: white;
  border: 0.5px solid rgb(217, 217, 217);
  max-width: 1110px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.tl-sec {
  border: 0.5px solid rgb(217, 217, 217);
  background: white;
  max-width: 1110px;
  margin: auto;
  margin-top: 5rem;
  height:auto;
  border-radius: 10px;
  /* border: 2px solid red; */
}
.tl-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.tl-col1 {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}
.tl-col1.show {
  opacity: 1;
  transform: translateY(0);
}

.tl-col1 img {
  width: 90%;
  height: auto;
}
.tl-col2 {
  width: 61%;
  height: auto;
  padding: 2rem 0;
  /* border: 2px solid red; */
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.tl-col2.show {
  opacity: 1;
  transform: translateY(0);
}
.tl-p1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #999;
  font-size: 14px;
}
.tl-p2 {
  color: #2c52a0;
  font-size: 2.5rem;
  font-weight: bolder;
}
.tl2-col1 {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}
.tl2-col1.show {
  opacity: 1;
  transform: translateY(0);
}

.tl2-col1 img {
  width: 90%;
  height: 70%;
}
.tl2-col2 {
  width: 61%;
  height:auto;
  align-items: center;
  opacity: 0;
  padding: 2rem 0;
  /* border: 2px solid red; */
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.tl2-col2.show {
  opacity: 1;
  transform: translateY(0);
}
.tl3-col1 {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1.5s ease-in-out;
}
.tl3-col1.show {
  opacity: 1;
  transform: translateY(0);
}

.tl3-col1 img {
  width: 90%;
  height: 70%;
}
.tl3-col2 {
  width: 61%;
  height:auto;
  align-items: center;
  opacity: 0;
  /* border: 2px solid rgb(38, 255, 0); */
  transform: translateY(30px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.tl3-col2.show {
  opacity: 1;
  transform: translateY(0);
}
.tl-p3{
  text-align: justify;
}
.tl-p4{
  font-weight: bolder;
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .tl-sec,
  .tl-sec1 {
    width: 90%;
    margin-top: 0;
    background: white;
    height: auto;
  }
  .tl-col1,
  .tl-col2,
  .tl2-col1,
  .tl2-col2,
  .tl3-col1,
  .tl3-col2 {
    width: 100%;
    opacity: 1;
    transform: none;
  }
  .tl-p1 {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
  }
  .tl-p2{
    font-size: 1.9rem;
    text-align: center;
  }
  .tl-col1 img {
    margin-top: 10px;
    height: 60%;
  }
  .tl-p4{
    font-weight: bolder;
  }

}
